services:
  api:
    image: welcomeapp-bahvgnfdcnfuf4gc.azurecr.io/welcomeapp-api:latest
    ports:
      - "7244:80"
    environment:
      - ASPNETCORE_URLS=http://+:80
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - appnet

  web:
    image: welcomeapp-bahvgnfdcnfuf4gc.azurecr.io/welcomeapp-web:latest
    ports:
      - "3030:3030"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - api
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
